.header-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #2e303a;
}

.header-h1 {
    margin-left: 1.5rem;
}

.header-container a {
    margin: 1rem 0rem 1rem 2rem;
}